@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Flux";
  src: url("/fonts/FluxRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Flux";
  src: url("/fonts/FluxBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: Flux, sans-serif;
  }
  
  body {
    @apply antialiased;
    font-family: Flux, sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}

header {
  font-family: Flux, sans-serif;
}

html,
body {
  height: 100%;
}